<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FInventoryConn" connectionString="Server=winiotdev;Initial Catalog=fInventory;Trusted_Connection=true" providerName="System.Data.SqlClient" />
    <add name="4-Way_Electric" connectionString="Server=winiotdev;Initial Catalog=fInventory_Test;Trusted_Connection=true" providerName="System.Data.SqlClient" />
    <add name="Garrett_and_Son_Inc" connectionString="Server=winiotdev;Initial Catalog=fInventory_Test;Trusted_Connection=true" providerName="System.Data.SqlClient" />
    <add name="Transformer_Gaskets_Components" connectionString="Server=winiotdev;Initial Catalog=fInventory_Test;Trusted_Connection=true" providerName="System.Data.SqlClient" />
    <add name="Transformer_Decommissioning_Inc" connectionString="Server=winiotdev;Initial Catalog=fInventory_Test;Trusted_Connection=true" providerName="System.Data.SqlClient" />
    <add name="Environmental_Management_Systems" connectionString="Server=winiotdev;Initial Catalog=fInventory_Test;Trusted_Connection=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Source" value="FInventoryConn" />
    <add key="ScriptPath" value="D:\EmeraldFl\Dev\EmeraldFL.SqlSync.Service\Scripts\" />
    <add key="SyncIntervalInMinutes" value="60" />
    <add key="SchedulerIntervalInMinutes" value="1" />
    <add key="SyncEnabled" value="true" />
    <add key="SchedulerEnabled" value="true" />
        
    <add key="Sync_1_To_4-Way_Electric" value="{&quot;connection&quot;:&quot;4-Way_Electric&quot;, &quot;sync_direction&quot;:&quot;to&quot;, &quot;script&quot;:&quot;SyncTo_4-Way_Electric.sql&quot; ,&quot;step&quot;: 1}" />
    <add key="Sync_2_To_Garrett_and_Son_Inc" value="{&quot;connection&quot;:&quot;Garrett_and_Son_Inc&quot;,&quot;sync_direction&quot;:&quot;to&quot;, &quot;script&quot;:&quot;SyncTo_Generic.sql&quot; ,&quot;step&quot;: 2}" />
    <add key="Sync_3_To_Transformer_Gaskets_Components" value="{&quot;connection&quot;:&quot;Transformer_Gaskets_Components&quot;,&quot;sync_direction&quot;:&quot;to&quot;,&quot;script&quot;:&quot;SyncTo_Generic.sql&quot; ,&quot;step&quot;: 3}" />
    <add key="Sync_4_To_Transformer_Decommissioning_Inc" value="{&quot;connection&quot;:&quot;Transformer_Decommissioning_Inc&quot;,&quot;sync_direction&quot;:&quot;to&quot;,&quot;script&quot;:&quot;SyncTo_Generic.sql&quot; ,&quot;step&quot;: 4}" />
    <add key="Sync_5_To_Environmental_Management_Systems" value="{&quot;connection&quot;:&quot;Environmental_Management_Systems&quot;,&quot;sync_direction&quot;:&quot;to&quot;,&quot;script&quot;:&quot;SyncTo_Generic.sql&quot; ,&quot;step&quot;: 5}" />
    <add key="Sync_6_From_4-Way_Electric" value="{&quot;connection&quot;:&quot;FInventoryConn&quot;,&quot;sync_direction&quot;:&quot;from&quot;,&quot;script&quot;:&quot;SyncFrom_4-Way_Electric.sql&quot; ,&quot;step&quot;: 6}" />
    <add key="Sync_7_From_Garrett_and_Son_Inc" value="{&quot;connection&quot;:&quot;FInventoryConn&quot;,&quot;sync_direction&quot;:&quot;from&quot;,&quot;script&quot;:&quot;SyncFrom_Garrett_and_Son_Inc.sql&quot; ,&quot;step&quot;: 7}" />
    <add key="Sync_8_From_Transformer_Gaskets_Components" value="{&quot;connection&quot;:&quot;FInventoryConn&quot;,&quot;sync_direction&quot;:&quot;from&quot;,&quot;script&quot;:&quot;SyncFrom_Transformer_Gaskets_Components.sql&quot; ,&quot;step&quot;: 10}" />
    <add key="Sync_9_From_Transformer_Decommissioning_Inc" value="{&quot;connection&quot;:&quot;FInventoryConn&quot;,&quot;sync_direction&quot;:&quot;from&quot;,&quot;script&quot;:&quot;SyncFrom_Transformer_Decommissioning_Inc.sql&quot; ,&quot;step&quot;: 10}" />
    <add key="Sync_10_From_Environmental_Management_Systems" value="{&quot;connection&quot;:&quot;FInventoryConn&quot;,&quot;sync_direction&quot;:&quot;from&quot;,&quot;script&quot;:&quot;SyncFrom_Environmental_Management_Systems.sql&quot; ,&quot;step&quot;: 10}" />
    <add key="Scheduler_Master" value="FInventoryConn" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>