<?xml version="1.0" encoding="utf-8"?>
<nlog>
 
  <targets async="true">
    <target name="console" type="ColoredConsole"   />
    <target name="logfile" type="File" filename="${shortdate}.log"   />
  </targets>

  <rules>
    <logger name="*" minlevel="info" writeTo="console" />
    <logger name="*" minlevel="trace" writeTo="logfile" />
  </rules>

</nlog>